{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.phronemophobic/membrane {;; :mvn/version "0.9.31.8-beta"
                                     :git/url "https://github.com/phronmophobic/membrane"
                                     :git/sha "96c5bfc56a5efdbb6b386a50dd68e1a224469b6c"}
        ubergraph/ubergraph {:mvn/version "0.8.2"}
        euclidean/euclidean {:mvn/version "0.2.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        com.phronemophobic.membrane/skialib-macosx-x86-64 {:mvn/version "0.9.31.0-beta"}
        com.phronemophobic.membrane/skialib-macosx-aarch64 {:mvn/version "0.9.31.0-beta"}
        com.phronemophobic.membrane/skialib-linux-x86-64 {:mvn/version "0.9.31.0-beta"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :run-m
  {:main-opts ["-m" "com.phronemophobic.graph.force-layout"]}
  
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "glayout.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "glayout.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "glayout.jar"}}}}
